html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

body {
  padding: 50px, 100px;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
  color: blue;
}

#message-form {
  margin-top: 1.5rem;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  min-height: 100px;
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #BABABA;
  border-bottom: 1px solid #999;
}

button[type="submit"] {
  background: #86B32D;
  border-bottom: 1px solid #5D7D1F;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}
